$c-gray-black:       #161616;
$c-gray-lightest:    #f6f6f6;
$c-gray-lighter:     #e3e3e3;
$c-gray-light:       #999;
$c-gray:             #666;
$c-gray-dark:        #333;
$c-gray-darkest:     $c-gray-black;