@import 'variables';

.main-container {
  .main-class-1 {
    color: $c-gray;
    transition: transform 1s;
  }

  .main-class-2 {
    color: $c-gray-light;
    background: linear-gradient(to top, black, white);
  }

  .main-class-3 {
    color: $c-gray-dark;
    display: flex;
  }
}