@import 'variables';

$c-gradient-light: #fff;
$c-gradient-dark: #000;

.main-container {
  .main-class-1 {
    color: $c-gray;
    transition: transform 1s;
  }

  .main-class-2 {
    background: linear-gradient(to top, $c-gradient-dark, $c-gradient-light);
    color: $c-gray-light;
  }

  .main-class-3 {
    color: $c-gray-dark;
    display: flex;
  }
}
